

div{
	border: 2px solid #4D0084;
	background-color: #65FEFE;
	width:  100px;
	height:  100px;
	text-align: center;
	position: relative;

}

body{
	margin: 20px;
}

#d1{
	left: 130px;
	bottom: 104px;
}

.d2{
	left: 260px;
	bottom: 208px;
}

#d2{
	left: 390px;
	bottom: 312px;
}	

.d3{
	left: 520px;
	bottom: 416px;
}

